<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>MG_PingJia</string>
		<key>gridTitle</key>
		<string>我的收藏</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string>#F36E69</string>
		<key>gridTag</key>
		<string>签到有理</string>
		<key>gridTitle</key>
		<string>我的下载</string>
		<key>iconImage</key>
		<string>MG_huiyuan</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的订单</string>
		<key>iconImage</key>
		<string>MG_lingquanzhongxin</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的游记</string>
		<key>iconImage</key>
		<string>MG_meidoushangcheng</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的问答</string>
		<key>iconImage</key>
		<string>MG_mendianjifen</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的点评</string>
		<key>iconImage</key>
		<string>MG_liwugou</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string>#86CC57</string>
		<key>gridTag</key>
		<string>赚佣金</string>
		<key>gridTitle</key>
		<string>优惠卷</string>
		<key>iconImage</key>
		<string>MG_yuyue</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的钱包</string>
		<key>iconImage</key>
		<string>MG_pingou</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的活动</string>
		<key>iconImage</key>
		<string>MG_PingJia</string>
	</dict>
</array>
</plist>
